/**    CUSTOM CSS     **/

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*
 * login.php 
 *----------------
 */

 .admin-loginbg {
    background-image: url("../img/usc-jb-lrc2.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    overflow: hidden;
 }

 /*.iaunatural{
    z-index: 2;
    position: fixed;
    top: 20%;
    width: 100%;
 }*/

 .loginbox{
  background-color: rgba(255,255,255,0.3);
  text-align: center;
  border-radius: 5px;
  width: 80%;
  margin-left: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#login {
    padding-top: 50px;
    padding-bottom: 40px;
}

#login .form-signin {
    max-width: 500px;
    padding: 19px 50px 29px;
    margin: 0 auto 20px;    
}

#login .form-signin input[type="text"],
#login .form-signin input[type="password"] {
    width: 100%;
    font-size: 14px;
    height: auto;
    margin-bottom: 15px;
    padding: 10px 9px;
    border-radius: 5px;
}
#login .form-signin button{
  width: 40%;
  padding: 12px 9px;
  border-radius: 5px;
}

.login-uscliblogo {
    height: 70px;
    width: 130px;
    margin-bottom: 15px;
}

.login-usclogo {
    height: 30px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: : 50px;
}

.login-useravatar{
  height: 85px;
  width: 85px;
}

.loginheading {
  font-family: Roboto;
  color: #FFF;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.loginheading h1{
  font-size: 30px;
}

.loginheading hr {
  width: 90%;
  border-top: 1px solid #02A554;
}

.loginfooter {
  font-family: Roboto;
  color: #dbdbdb;
  text-align: center;
  font-size: 11px;
  margin-top: 40px;
}


.btn-login {
    color: #fff;
    background-color: #02A554;
    border-color: #02A554; 
    font-family: Roboto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-login:focus, .btn-login.focus, .btn-login:hover, .btn-login.active, .btn-login:active, .btn-login:disabled, .btn-login.disabled 
  {
    color: #fff !important;
    background-color: #29b765 !important;
    border-color: #229854 !important;
    -webkit-box-shadow: none;
    background-image: none; 
  }

@media screen and (max-width: 400px) {
  .loginbox{
    margin-left: 35px;
  }
  #login .form-signin input[type="text"],
  #login .form-signin input[type="password"] {
    font-size: 12px;
  }
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  margin: 0px 65px;
  text-align: center;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 4em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #333; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: orange;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

  .img-ratvw{
    border-radius: 100%;
    height: 75px; 
    width: 75px;
  }

  .ratvw-usrnam{
    text-transform: uppercase;
    color: #008FFF;
  }

  .star-checked {
    color: orange;
  }

  .btn-ratvwall {
    color: #fff;
    background-color:   #008FFF;
    border-color: #008FFF; 
    border-radius: 3px;
    padding: 10px 100px;
  }

  .btn-ratvwall:focus, .btn-ratvwall.focus, .btn-ratvwall:hover, .btn-ratvwall.active, .btn-ratvwall:active, .btn-ratvwall:disabled, .btn-ratvwall.disabled 
  {
    color: #fff !important;
    background-color: #0367b5 !important;
    border-color: #0367b5 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none; 
  }


/**aaaaa**/

#nav {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;  }
#nav ul {
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding: 0; }
#nav li {
  float: left; }
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; }
#nav li:first-child a {
  border-left: 1px solid #ccc; }
#nav li a:hover {
  color: #c00;
  background-color: #fff; }

.container-custom {
  width:100%;
  padding-right:5px;
  padding-left:5px;
  padding-top: 10px;
  margin-right:auto;
  margin-left:auto
}

.container-custom2 {
  width:100%;
  padding-right:50px;
  padding-left:50px;
  padding-top: 10px;
  margin-right:auto;
  margin-left:auto
}
.home-mid-usclibsyst{
  margin-top: 50px; 
  text-align: center;
  margin-bottom: 25px;
}

.home-mid-usclibsyst h1{
  font-family: Crete Round, serif; 
  color: #02A554; 
  font-size: 45px;
}

.home-gatewayusclibsyst{
  color: #333; 
  width: 25%;  
  font-family: Roboto, sans-serif; 
  font-size: 15px;
}

.home-titles1{
  color:#02A554;
}

.orangelines1{
  border: 1px solid #FFB041; 
  float: left; 
  display: block; 
}

.orangelines2{
  border: 1px solid #FFB041; 
  float: center; 
  display: block; 
}


/** Hours of Service **/
.campus-sched{
  margin-top: 50px;
}

.hrsofsrvc-campus{
  color: #02A554;
  font-weight: bold;
}

.library-facilityandtime{
  margin-top: 40px;
  font-size: 13px;
}

.library-area{
  margin-top: 20px;
  font-weight: bold;
}

.library-area-time{
  display: block;
  font-size: 12px;
}

.hrsofsrvccampus-selector{
  margin-top: 50px;  
  text-align: center;
  margin-bottom: 100px;
}

.aboutlibraries{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.aboutlibraries .aboutlibraries-text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 70%; /* Set the width of the positioned div */
    color: #333;
    padding: 20px;
    background-color: #FFF;
}

@media screen and (max-width: 500px) {
    .aboutlibraries .aboutlibraries-text{
        width: 90%;
        top: 60%;
        font-size: 15px;
    }
}

.home-virtualtour{
    background-image: url("../img/Librariesss.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    margin-bottom: 30px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 10px;
    border: 0px solid;
    font-family: Roboto;
}

.home-virtualtour h3{
    font-style: italic;
}

.threesixty-degrees{
    margin-top: 0;
    padding-left: 35px;
}

.threesixty{
    font-size: 150px;
}

.degrees{
    font-size: 100px;
}

.start-tour {
    overflow: hidden;
    text-align: center;
}
.start-tour:before,
.start-tour:after {
    background-color: #FFF;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}
.start-tour:before {
    right: 0.5em;
    margin-left: -50%;
}
.start-tour:after {
    left: 0.5em;
    margin-right: -50%;
}

.btn-starttour{
    color: #FFF;
    background-color: rgba(0,0,0,0);
    border: 1px solid #FFF;
    padding: 20px 50px;
    font-size: 20px;
    font-style: italic;
}

.btn-starttour:hover {
    background-color: #FFB041;
    border:1px solid #FFB041;
    font-size: 25px;
    font-weight: bold;
    
}

.librarytour-thumbnail{
    height: 300px;
    width: 500px;
}

.virtualtour-text-bg{
    background-color: rgba(0,0,0,0.7);
}

.virtualtour-text{
    padding: 130px 0px; 
    text-align: center; 
    font-weight: bold; 
    font-size: 17px; 
    color: #FFF;
    transition: 0.1s;
}

.virtualtour-text:hover {
    font-size: 19px;     
}

.virtualtour-line{
  border: 1px solid #FFF; 
  width: 45%
}

footer {
    margin-top: 100px;
    background-color: #333;
    color: #fff;
}

.foot-title1{
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 10px;
}

.foot-sociallink-fb, .foot-sociallink-fb:active, .foot-sociallink-fb:visited {
    color: #FFF;
}

.foot-sociallink-fb:hover {
    color: #02A554;
}

.btn-comment {
    color: #fff;
    background-color: #02A554;
    border-color: #02A554; 
    font-family: Roboto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.report-link, .report-link:active, .report-link:visited, .report-link:focus {
  color: #fc3232; 
  font-size: 11px;
}

.report-link:hover {
  color: #ff7700; 
}

#comment-section{
  margin-top: 70px;
}

.comment-userphoto{
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.comment-username{
  display: inline-block; 
  padding-top: 15px;
}

.comment-date{
  display: inline-block;
}

.comment-content{
  display: block; padding: 25px 0px;
}

.reported-comment{
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding-left: 30px;
    border: 2px solid #939e93;
    width: 85%;
  }

.btn-rptusr {
    color: #fff;
    background-color:   #ff7700;
    border-color: #ff7700; 
    border-radius: 3px;
    padding: 6px 20px;
  }

  .btn-rptusr:focus, .btn-rptusr.focus, .btn-rptusr:hover, .btn-rptusr.active, .btn-rptusr:active, .btn-rptusr:disabled, .btn-rptusr.disabled 
  {
    color: #fff !important;
    background-color: #fc8a25 !important;
    border-color: #fc8a25 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none; 
  }

 #reported-firstname{
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    padding-top: 15px;
  }
#reported-lastname{
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
  padding-top: 15px;
}

  .reported-comment img{
    margin-top: 10px;
    height: 50px; 
    width: 50px; 
    border-radius: 100%
  }

  #reportcomment-content {
    margin-top: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
  }

  .textarea-bg{
    background-color: #dedee8;
  }

  .btn-ratenow {
    color: #fff;
    background-color:   #ff7700;
    border-color: #ff7700; 
    border-radius: 3px;
    padding: 20px 50px;
    font-size: 23px;
  }

  .btn-ratenow:focus, .btn-ratenow.focus, .btn-ratenow:hover, .btn-ratenow.active, .btn-ratenow:active, .btn-ratenow:disabled, .btn-ratenow.disabled 
  {
    font-size: 27px;
    box-shadow: none; 
  }

  .btn-readmorerating {
    color: #fff;
    background-color:   #ff7700;
    border: 3px solid #ff7700; 
    border-radius: 3px;
    padding: 15px 200px;
    font-size: 23px;
  }

  .btn-readmorerating:focus, .btn-readmorerating.focus, .btn-readmorerating:hover, .btn-readmorerating.active, .btn-readmorerating:active, .btn-readmorerating:disabled, .btn-ratenow.disabled 
  {
    color: #333;
    background-color: #fff;
    font-size: 27px;
    box-shadow: none; 
  }

#rating-section{
    margin-top: 70px;
}

.rating-userphoto{
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.rating-username{
  display: inline-block; 
  padding-top: 15px;
}

.rating-stars{
  padding-left: 30px;
  font-size: 25px;  
  display: inline-block;
}

.rating-feedback{
  display: block; padding: 25px 0px;
}